dist/
.DS_Store/
*.pyc
.idea/
__pycache__/
poetry.lock
todo*
env/
.vscode/
# -
requirements.in
requirements.txt
devices.json
firmwares.json
path.txt
tatsu.ini
virtualenv.pyz
venv/
*.plist
*.shsh2
*.shsh
Makefile
